body {
    padding-top: 50px;
    list-style-type:none;
    width: 100%;  
    height: 100%;
}

.scroll {
    overflow-x: hidden;
    overflow-y: hidden; 
}

.scrollActive {
    overflow-x: scroll;
    overflow-y: scroll;
}

.littleImg {
    width: 35px;
    height: 35px;
}
input{
    font: inherit;
    margin: 0;
}

button {
    background-color: transparent;
    border: none;
}

#inputAdress{
    padding: 6px 12px;
    border-radius: 4px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 34px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}


/*fenêtre pop-up*/
.slideAddFountain {
    background-color : white;
    color : white;
    z-index : 2;
    border-radius : 5px;
    width :100%;
    position : absolute;
}
.slideAddNewBtn{
    width : 50px;
    max-width : 50px;
    position : fixed;
    bottom : 50px;
    right : 5%;
    z-index : 2;
}
.image-upload > input
{
    display: none;
}

#map_canvas1{ 
    width: 100%;  
    height: 925px;
    display : block;
}

.btnAjt{
    width : 50px;
    height: 50px;
    position : fixed;
    z-index: 5;
    bottom : 80px;
}

#logoFB{
    width: 15%;
}
#logoFBPc{
    width: 10%;
    margin : auto;
}
#logoFBPhone{
    width: 50%;
    margin : auto;
}

#logo_copyright{
    text-align: center;
}

.stylePhoto{
    width : 35px;
    height : 35px;
}

#alert_template {
    position: absolute;
    z-index: 1056;
    padding: 5px;
    text-align: center;
    line-height: 15px;
    margin-left: 55%;
    width: 43%;
    top: 5px;
}

/*slide*/
.slideInfo{
    text-align: center;
    margin: auto;
    padding: 10px 10px 10px 10px;
    background: #fff;
    width: 310px;
    height: 245px;
    position: fixed;
    z-index: 15;
    bottom: 15px;
    border: solid 3px #0c83e2;
    border-radius: 0 20px 20px 0;
    left: 0px;
}

.traitHorizontal{
    border-top: 2px solid #000; 
    width : 280px; 
    margin-top: 120px;
}

.directions{
    margin-left: -10px;
}

.backBtn{
    margin-left: 220px;
}

.imgProvisoire{
    margin-left: -180px;
}

.paddingslide{
    padding-top:  8px;
}
.paddingslide img{
    width: 60px;
    height: 60px;
    padding-left: 10px;
    padding-top: 10px;
}

.centerBtn{
    text-align: center;
    margin-left: 104px;
    margin-top: 10px;
    position: fixed;
    z-index:15;
}
/*Code pour bien placer la search box

.controls {
    margin-top: -951px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 25px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    position : fixed;
    z-index : 1;
    left : 105px;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 150px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}
#target {
    width: 345px;
}
*/